@import "bootstrap-sprockets";
@import "bootstrap";

.answer {
  position: relative;
}

.mark-best-answer, .delete-answer, .edit-answer {
  color: #d6e9c6;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 20px;
  top: 0;
}

.delete-answer {
  color: #ebccd1;
  right: 0px;
}

.mark-best-answer:hover,
.edit-answer:hover {
  color: #3c763d;
}

.delete-answer:hover {
  color: #a94442;
}

.mark-best-answer {
  font-size: 20px;
}

.best-answer {
   background: #dff0d8 !important;  
}

.edit-question {
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  margin: 0 0 0 20px;
}

.delete-question, .edit-question {
  color: #d6e9c6;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  margin: 0 0 0 20px;
}

.delete-question {
  color: #ebccd1;
}

.edit-question:hover {
  color: #3c763d;
}

.delete-question:hover {
  color: #a94442;
}
