@import "bootstrap-sprockets";
@import "bootstrap";

.edit-question {
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  margin: 0 0 0 20px;
}

.answer {
  position: relative;
}

.edit-answer {
  display: inline-block;
  padding: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.delete-question, .edit-question {
  color: #d6e9c6;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  margin: 0 0 0 20px;
}

.delete-question {
  color: #ebccd1;
}

.edit-question:hover {
  color: #3c763d;
}

.delete-question:hover {
  color: #a94442;
}
