// TAGS PAGE
.tags {
  padding-top: 20px;
}

.tags .tag {
  width: 25%;
  float: left;
  margin: 0 0 10px 0;
  height: 30px;
}

.tags .tag a {
  font-size: 1.2em;
}

.tags .tag a:hover {
  text-decoration: none;
}
