.pane {
  display: none;
}

.user-profile-tabs {
  text-align: right;
  letter-spacing: -0.3em;
}

.user-profile-tabs li {
  display: inline-block;
  text-align: center;
  letter-spacing: 0;
  float: none;
}

.user-info form.edit_user {
  display: none;
}
